venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/log/*
!/log/.keep

**/*.ipynb_checkpoints/

**/tmp/*
**/.data/*
**/.DS_Store

data-bin/

preprocess/*
!preprocess/prepare-rxn.sh
!preprocess/prepare-retro.sh

nohup*
checkpoint*/

backup/data*
