venv/

*.pyc
__pycache__/

**/.ipynb_checkpoints
**/.DS_Store
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/log/*
!/log/.keep

/chem_rxn/tmp/
!/chem_rxn/tmp/.keep

src/
**/nlp-reaction-main/
**/nlp-rxn-main/

download


**/tmp/*
**/.data/*

training_forward_retro/data-bin/

training_forward_retro/preprocess/*
!training_forward_retro/preprocess/prepare-rxn.sh
!training_forward_retro/preprocess/prepare-retro.sh

training_forward_retro/nohup*
training_forward_retro/checkpoint*/

training_forward_retro/backup/data*

